$viewport-width: 650px;
$large-content-width: 1000px;
$navBar-height: 50px;
$color-light-grey: #ababab;
$color-lighter-grey: rgba(112, 128, 144, 0.25);
$color-lighter-grey-background: rgba(112, 128, 144, 0.1);
$color-blueberry: rgba(107, 122, 143, 1);
$color-blueberry-lighter: rgba(107, 122, 143, .7);
$color-sea-green: #e5f7e1;
$color-sea-green-darker: #d3e2cf;
$color-link: #fea680;
$color-external-link: #62b3b2;
$color-highlight: #fef4ad;
$color-highlight-dark: #665a02;
$color-light-peach: #fffcf7;
$color-light-peach-translucent: rgba(255,252,247, .5);
$color-dark-blue-grey: rgba(95, 101, 128, 1);
$color-dark-blue-grey-background: rgba(95, 101, 128, 0.9);
$color-light-lavender: rgb(250, 248, 254);
$color-dark-lavender: rgb(57, 56, 60);
$color-site-background: $color-light-peach;
$color-site-background-translucent: $color-light-peach-translucent;
$color-site-background-dark: rgb(28, 22, 8);
$color-site-background-dark-translucent: rgba(35, 28, 10, .7);
$color-background-teal: #f4fdff87;
$color-background-teal-dark: #353c3d87;
$color-text-dark: rgb(227, 223, 226);
$color-quote-background-dark: rgb(24, 26, 27);
$default-font-size: 18px;
$paragraph-font-size: 16px;
// $scaled-font-size: calc(min(max(18px, .75vw), 20px));
$paragraph-vertical-margin: 24px;
$scaled-font-size: $default-font-size;
$default-line-height: 1.6;
$smaller-font-size: $default-font-size * .8;
$navbar-zindex: 999;
$color-text-color: #282828;
$color-text-color-white: rgb(222, 219, 214);
$color-text-accent-dark: rgb(152, 143, 129);
$header-container-margin: calc(max(50px, min(10vh, 90px)));
$color-telescopic-background-dark: rgba(196, 119, 2, .3);
$color-telescopic-background-dark-hover: rgba(196, 119, 2, 1);
$color-box-shadow:#132d40fa;
$color-box-shadow-dark: #e3f3fffa;

@keyframes roll-and-move-animation {
  25% {
    // transform: translateX(100%) rotate(180deg);
    transform: rotate(180deg);
    left: 25%;
  }
  50% {
    // transform: translateX(200%) rotate(360deg);
    transform: rotate(360deg);
    left: 50%;
  }
  67% {
    // transform: translateX(300%) rotate(540deg);
    transform: rotate(540deg);
    left: 75%;
  }
  85% {
    // transform: translateX(400%) rotate(720deg);
    transform: rotate(720deg);
    left: 88%;
  }
  100% {
    // transform: translateX(0%) rotate(0deg);
    transform: rotate(0deg);
    left: 0;
  }
}

// from https://jarv.is/notes/css-waving-hand-emoji/
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   45% { transform: rotate(-14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   85% { transform: rotate(8.0deg) }
  //  30% { transform: rotate(-14.0deg) }
  //  40% { transform: rotate(4.0deg) }
  //  50% { transform: rotate(-10.0deg) }
  //  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes spin-icon-animation {
  from {
      transform:rotate(0deg);
      font-size: 200%;
  }
  to {
      transform:rotate(360deg);
      font-size: default;
  }
}

@keyframes rotate-icon-animation {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes jiggle-animation {
  0% { transform: skewX(-15deg); }
  2.5% { transform: skewX(15deg); }
  5% { transform: skewX(-15deg); }
  7.5% { transform: skewX(15deg); }
  10% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

@keyframes bounce-animation {
  0% { transform: translateY(0px); }
  25% { transform: translateY(-5px) rotate(15deg); }
  50% { transform: translateY(5px) rotate(30deg);}
}

@keyframes rotate-stamp-animation {

  0% { transform: rotate(0deg); filter: drop-shadow(0px 0px 12px #406dff); }
  90% { transform: rotate(360deg); filter: drop-shadow(0px 0px 12px #406dff); }
  92% { transform: translate(1.5px, 0px) rotate(6deg); }
  94% { transform: translate(1.5px, 0px) rotate(3deg); }
  96% { transform: translate(.5px, 0px) rotate(-1deg); }
  97% { transform: translate(.5px, 0px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(1deg); }
  // 96% { transform: translate(-1px, 2px) rotate(-1deg); }
  // 97% { transform: translate(-3px, 1px) rotate(0deg); }
  // 98% { transform: translate(3px, 1px) rotate(-1deg); }
  // 99% { transform: translate(-1px, -1px) rotate(1deg); }
  // 99.5% { transform: translate(1px, 2px) rotate(0deg); }
  // 100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@mixin wave($iteration-count: 1) {
  animation-name: wave-animation;
  // animation-duration: 2.5s;
  animation-duration: .5s;
  animation-iteration-count: $iteration-count;
  transform-origin: 70% 70%;
  display: inline-block;
}

@mixin spin-icon($iteration-count: 1) {
  animation-name: spin-icon-animation;
  animation-duration: .75s;
  animation-iteration-count: $iteration-count;
}

@mixin rotate-icon($iteration-count: 1) {
  animation-name: rotate-icon-animation;
  animation-duration: .5s;
  animation-iteration-count: $iteration-count;
}

@mixin rotate-stamp() {
  animation-name: rotate-stamp-animation;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@mixin roll-and-move($iteration-count: 1) {
  animation-name: roll-and-move-animation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: $iteration-count;
}

:root {
  color-scheme: light dark;
  background: white;
  color: #{$color-text-color};

  --color-neutral-background: white;
  --color-text-highlight: #{$color-highlight};
  --color-background-lavender: #{$color-light-lavender};
  --color-background-teal: #{$color-background-teal};
  --color-text-accent: #{$color-blueberry};
  --color-text-color: #{$color-text-color};
  --telescope-text-color: #{$color-text-color};
  --color-neutral-background-translucent: #{$color-site-background-translucent};
  transition:color .2s ease-in-out;
  --color-box-shadow: #{$color-box-shadow};

  /* For telescopic text styling */

  // #telescope .details {
  //   background-color: $color-blueberry;
  // }

  // #telescope .details.close:hover {
  //   background-color: $color-blueberry-lighter;
  // }

  .sans-serif &,
  &.sans-serif {
    font-family: "Muli";
  }
  
  .serif &,
  &.serif {
    font-family: "Playfair Display";
  }

  .mono &,
  &.mono {
    font-family: "Cousine", monospace;
  }

  &.dark-mode {
    // This is the default chrome background color in dark mode.
    // Need to explicitly set it to handle swapping to dark mode when the system setting is light mode.
    background: #121212;
    color: $color-text-color-white;
    --telescope-text-color: #{$color-text-color-white};
    --color-neutral-background: #{$color-quote-background-dark};
    --color-text-highlight: #{$color-highlight-dark};
    --color-background-lavender: #{$color-dark-lavender};
    --color-background-teal: #{$color-background-teal-dark};
    --color-text-accent: #{$color-text-accent-dark};
    --color-text-color: #{$color-text-color-white};
    --color-neutral-background-translucent: #{$color-site-background-dark-translucent};
    --telescope-highlight: #{$color-telescopic-background-dark};
    --telescope-highlight-hover: #{$color-telescopic-background-dark-hover};
    --color-box-shadow: #{$color-box-shadow-dark};

    #background#background {
      background-color: $color-site-background-dark;
    }
    #navbar#navbar {
      background-color: $color-site-background-dark;
    }
  }
}

// source: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
// This used to be `320px` but makes no sense that smaller than 320px reverts so changing to 0.
$screenXsmallMin: 0px;
$screenSmallMin: 481px;
$screenMediumMin: 768px;
$screenLargeMin: 1025px;
$screenXlargeMin: 1281px;

$full-width-image-shrink-threshold: $screenLargeMin - 1;

$screenMinWidths: (
  xsmallScreen: $screenXsmallMin,
  smallScreen: $screenSmallMin,
  mediumScreen: $screenMediumMin,
  largeScreen: $screenLargeMin,
  xlargeScreen: $screenXlargeMin,
);

$screenMaxWidths: (
  xsmallScreen: $screenSmallMin - 1,
  smallScreen: $screenMediumMin - 1,
  mediumScreen: $screenLargeMin - 1,
  largeScreen: $screenXlargeMin - 1,
);

// sources
// https://stackoverflow.com/questions/9829612/save-media-query-in-variable
// https://stackoverflow.com/questions/55882215/how-can-i-use-multiple-include-in-scss
//  mixin to print out media queries (based on map keys passed)
@mixin media($keys...) {
  @each $key in $keys {
    @media only screen and (min-width: map-get($screenMinWidths, $key)) and (max-width: map-get($screenMaxWidths, $key)) {
      @content;
    }
  }
}

@mixin image-dropshadow() {
  box-shadow: 0 0px 15px 2px rgba(0, 0, 0, 0.2),
    0 0px 36px -18px rgba(0, 0, 0, 0.22);
}

// source: https://gomakethings.com/how-to-break-an-image-out-of-its-parent-container-with-css/
@mixin extend-width() {
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  width: 100vw;
  min-width: calc(min(#{$viewport-width}, 100vw));
}

@mixin meta-content() {
  color: var(--color-text-accent);
  @extend .sans-serif;
  // font-size: 80%;
  font-size: $smaller-font-size;
}

@mixin quote-font() {
  font-family: "Crimson Text";
}

@mixin collapsed-post-summary-container() {
  flex-direction: column-reverse;
  justify-content: flex-end;

  .postSummaryImageContainer {
    margin-left: 0;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 250px;
  }

  .postSummaryHeader {
    width: 100%;
  }
}

body {
  font-family: "Muli";
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
  margin-left: 16px;
  margin-right: 16px;
  overflow-x: none;
  font-size: $paragraph-font-size;
  // background-color: transparent;
}

#background {
  background-color: $color-site-background;
  background-image: url(/assets/lichen-blue.svg);
  background-size: 250px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: .13;
  pointer-events: none;
}

::selection {
  background: var(--color-text-highlight); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--color-text-highlight); /* Gecko Browsers */
}

mark {
  background: var(--color-text-highlight);
}

$quote-padding: 12px;
.pullquoteContainer {
  // margin: ($paragraph-vertical-margin + $quote-padding / 2) 0;
}

.pullquote {
  padding: ($quote-padding / 2) $quote-padding;
  padding-right: 0px;
  position: relative;
  margin: 0 .8em;
  color: $color-dark-blue-grey;
  font-size: $default-font-size;

  &::before {
    content: "“";
    font-family: "Muli";
    position: absolute;
    right: 100%;
    font-size: 80px;
    line-height: 0;
    top: 40px;
    left: -20px;
    color: var(--color-text-accent);
  }
  
  // background coloring
  &::after {
    content: "";
    max-width: $viewport-width + 20px;
    left: -30px;
    width: 100vw;
    height: 105%;
    background: var(--color-background-lavender);
    display: block;
    position: absolute;
    top: -2.5%;
    z-index: -1;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
  }
}

// .calloutBlock {
//   background-color: #eaf5f0;
//   padding: 1em 2em;
//   border: 1px solid #52afbb;
//   border-radius: 8px;

//   span {
//     position: relative;
//     line-height: 1.4;

//     &::before {
//       content: "❓";
//       font-family: "Muli";
//       position: absolute;
//       right: 100%;
//       font-size: 120%;
//       line-height: 0;
//       top: 10px;
//       margin-right: 6px;
//     }
//   }
// }

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge*/
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

div {
  .serif &,
  &.serif {
    font-family: "Playfair Display";
  }

  .mono &,
  &.mono {
    font-family: "Cousine", monospace;
  }
}

p {
  font-family: "Muli";
  line-height: $default-line-height;
  font-size: $paragraph-font-size;
  margin: $paragraph-vertical-margin 0;

  .mono & {
    font-family: "Cousine", monospace;
  }

  .serif & {
    font-family: "Playfair Display";
  }

  & > code {
    font-size: 95%;
  }
  figcaption > & {
    font-size: 90%;
  }
}

* > li {
  p {
    margin: 0px 0;
  }
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  position: relative;

  .serif & {
    font-family: "Playfair Display";
  }

  .mono & {
    font-family: "Cousine", monospace;
  }
}

pre,
code {
  font-family: "Cousine", "Menlo", "Courier", monospace;
}

.divider {
  width: 3px;
  height: 70%;
  background-color: var(--color-text-color);
  margin: auto 0;
}

.shareCta {
  display:flex;
  align-items: center;

  button {
    margin-bottom: 6px;
    padding: 0;
  }

  .shareActions {
    margin-left:auto;
    display:flex;
    gap: 0 6px;
  }

  @include media(xsmallScreen, smallScreen) {
    flex-direction: column;
    align-items: baseline;

    .shareActions {
      margin-left:0;
      margin-top: 12px;
    }
  }
}


button.icon {
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  background: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;

  i {
    font-size: 20px;
  }
  &:hover {
    color: $color-link;
  }
}

#content {
  max-width: $viewport-width;
  min-width: 300px;
  width: 100%;
}

.navbarActions {
  font-size: $scaled-font-size;
  margin-left: auto;
  display: grid;
  grid-gap: .75rem;
  grid-auto-flow: column;

  a {
    padding: 1px;

    @include media(xsmallScreen) {
      padding: 1px 4px;
      background: $color-link;
      border-radius: 4px;
      &.active {
        border: 2px solid $color-blueberry;
      }
    }

    span {
      @include media(xsmallScreen) {
        display:none;
      }
    }

    &.active {
      border-bottom: 1px solid $color-blueberry;
    }
  }
}

#navbar {
  border-bottom: 1px $color-lighter-grey solid;
  background-color: $color-site-background;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $navBar-height;
  z-index: $navbar-zindex;
  scroll-margin-top: $navBar-height;

  /* Collapse nav bar on scroll down */
  &.collapse {
    animation: collapse 0.25s ease forwards;
  }

  /* Open nav bar on scroll up */
  &.open {
    animation: open 0.25s ease forwards;
  }

  .socialMediaContainer {
    margin: 0;
    margin-left: auto;

    i {
      font-size: 24px;
    }
  }
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $viewport-width;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;

  @include media(xsmallScreen) {
    font-size: 90%;

    .navbarActions {
      grid-gap: .5rem;
    }
  }

  a:not(.socialMediaLink) {
    color: var(--color-text-accent) !important;
  }

  h2 {
    margin: 0;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    top: 0;
  }

  to {
    opacity: 0;
    top: -$navBar-height;
  }
}

@keyframes open {
  from {
    opacity: 0;
    top: -$navBar-height;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.title {
  font-size: 2.3em;
  font-family: "Raleway";
}

.relatedPosts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem 3rem;

  @include media(xsmallScreen) {
    grid-template-columns: 1fr;
  }

  .postSummaryContainer {
    margin-top: 0;
    @include collapsed-post-summary-container();

    .postSummaryImageContainer {
      display: none;
    }

    &::after {
      height: 0px;
    }
  }
}

.mainContainer {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.avatarLink {
  &:hover {
    .avatar {
      @include roll-and-move();
    }
  }

  position: relative;
  display:flex;
  flex-grow: 1;
  margin-right: 4px;
  height: 70%;
}

.avatar {
  border-radius: 50%;
  border: 1px black solid;
  width: 150px;
  height: 150px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 0px;
  top: 0px;

  &.small {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }

  &:hover,
  &:active,
  &:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    content: url(/assets/spencer_real_person.png)
  }
}

.headerContainer {
  margin: $header-container-margin 0 24px 0;
  font-size: $scaled-font-size;

  p {
    font-size: $scaled-font-size;
    margin: 12px 0;
  }

  &.home {
    .description div {
      margin-bottom: 12px;
      text-align: left;
    }
  
    ul {
      margin-top: 6px;
    }
  }
}

.listDescription {
  text-align:left;
  width: 100%;

  *:first-child {
    margin-top: 0;
  }

  & > div {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

@mixin link-highlight() {
  background-color: var(--color-text-highlight);
  border-radius: 4px;

  svg {
    fill: var(--color-text-highlight);
    transition: fill 0.25s ease-in-out;
  }
}

$internal-link-selectors: '
  a[href^="https://spencerchang.me"],
  a[href^="https://www.spencerchang.me"],
  a[href^="http://spencerchang.me"],
  a[href^="http://www.spencerchang.me"],
  a[href^="spencerchang.me"],
  a[href^="www.spencerchang.me"],
  a[href^="/"],
  a[href^="#"]
';

// external links
a:not(#{$internal-link-selectors}):not(.socialMediaLink):not(.anchor):not(.galleryLink) {
  color: $color-external-link;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out;

  .postContent &, .listDescription & {
    text-decoration: underline 2px;
  }

  &:hover {
    @include link-highlight();
  }
}

// internal links
#{$internal-link-selectors} {
  &:not(.socialMediaLink):not(.anchor) {
    color: $color-link;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out;

    .postContent &, .listDescription & {
      text-decoration: underline 2px;
    }
  
    &:hover {
      @include link-highlight();
    }
  }
}

.postHeaderLink {
  // for some reason doing the or selector (,) on all of these doesn't work, maybe submit issue?
  h1:hover & {
    @include link-highlight();
  }
  h2:hover & {
    @include link-highlight();
  }
  h3:hover & {
    @include link-highlight();
  }
  h4:hover & {
    @include link-highlight();
  }
  h5:hover & {
    @include link-highlight();
  }
  h6:hover & {
    @include link-highlight();
  }
}

.socialMediaLink {
  color: inherit;
  text-decoration: none;
  transition: color 0.25s ease-in-out;

  svg {
    fill: var(--color-text-color);
  }

  &:hover {
    color: $color-link;

    svg {
      fill: $color-link;
      transition: fill 0.25s ease-in-out;
    }
  }
}

#expandingLikes#expandingLikes#expandingLikes#expandingLikes {
  ul {
    display: block !important;
    list-style: disc outside !important;
  }
  li {
    display: list-item !important;
    list-style: disc outside !important;
    background-color: inherit;
  }
}

.socialMediaContainer {
  display: flex;

  img {
    width: 32px;
    height: 32px;
    padding: 5px;
    // filter: grayscale(90%);
  }

  .socialMediaLink { 
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  i, svg {
    &:before {
      margin-left: 0.1em;
      margin-right: 0.1em;
    }
  }
}

.embedContainer {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;

  *:first-child { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.photoEmbed {
  width: 100%;
  height: 40vh;
  border-radius: 4px;
  border: 1px solid black;

  .embed {
    border: none;
  }

  @media (min-width: 801px) {
    & {
      @include extend-width();
    }
  }
}

.summaryList {
  width: 100%;

  div {
    &.hidden {
      display:none;
    }
  }

  .tabs {
    border-bottom: 5px dashed var(--color-text-accent);
    padding-bottom: 8px;

    button {
      border: none;
      background: none;
      padding: 4px 8px;
      padding-bottom: 2px;
      margin: 0 4px;
      border-radius: 4px;

      &:first-child {
        margin-left: 0;
        padding-left: 2px;
      }

      &:hover {
        @include link-highlight();
      }

      &.active {
        background: var(--color-background-teal);
        box-shadow: inset 0.3px 0.5px 1.6px var(--color-box-shadow);
      }

      h3 {
        margin-top: 0;
        margin-bottom: 4px;
        color: var(--color-text-accent) !important;
        font-weight: 600;
      }
    }
  }

}

.postContainer {
  width: 100%;
  position: relative;

  .title {
    margin-bottom: 0;
    margin-top: 0;
  }

  .description {
    color: $color-light-grey;
    margin-top: 8px;
  }

  h3:first-child {
    margin-bottom: 6px;
  }

  // narrow margin on the first descendant if there's not a full width image
  article > *:not(figure):not(img):first-child {
    margin-top: 6px;
  }
}

.postFooter {
  font-weight: bold;
  color: $color-light-grey;
  & > p {
    @extend .mono;
    font-size: $smaller-font-size;
    line-height: $default-line-height;
    margin: 12px 0;
  }
}

summary {
  line-height: $default-line-height;
  position:relative;
  display: inline;
  border-radius: 4px;

  & h1,h2,h3,h4,h5 {
    display:inline;
  }
}

// Hide the standard > marker since not showing on Chrome so using custom icon.
// from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#Customizing_the_disclosure_widget
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > div {
  background: var(--color-background-lavender);
  box-shadow: 0px 0px 5px #555 inset;
  margin-top: 0;
  padding: 1rem;
  border-radius: 4px;

  & > p:first-child {
    margin-top: 0px;
  }

  // remove one side of margin since this is in flexbox.
  & > p {
    margin-bottom: 0px;
  }
}

// Custom icons for collapsing since the default one doesn't show on
// Chrome-based browsers when display: inline on for some reason.
summary:before {
  box-sizing: border-box;
	// content: '\e804';
  // font-family: unicons-solid;
  content: '🔽';
  margin-right: 3px;
  font-style: normal;
  speak: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
}

details[open] summary:before {
	// content: '\e80d';
	content: '🆙';
}

summary:hover, summary:focus {
	background: var(--color-text-highlight);

  &:before {
    // TODO: figure out why fails to compile with `wave` mixin not defined. this is copy pasted for now.
    animation-name: wave-animation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}

details div {
  display:flex;
  flex-direction: column;
  font-size: $paragraph-font-size;
}

.writingMeta {
  p {
    margin: 4px 0;
  }
}

.postSummaryContainer {
  display: flex;
  margin-top: 24px;
  
  @include media(xsmallScreen) {
    @include collapsed-post-summary-container();

    .postSummaryImageContainer {
      margin-left: 0;
      margin-bottom: 16px;
    }
  }

  padding-bottom: 24px;
  position: relative;
  &::after {
    position:absolute;
    bottom: 0px;
    content: "";
    height: 1px;
    background: $color-lighter-grey;
    width: 320px;
  }

  .postSummary { 
    p {
      margin:0;
    }
  }

  .postTags {
    margin-top: 8px;
    @include meta-content();
  }
}

.postSummaryImageContainer {
  margin-left: auto;
}

.postSummaryImage {
  width: 225px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  @include image-dropshadow();
}

.postSummaryHeader {
  h3, h2 {
    margin-top: 2px;
  }
  display:flex;
  flex-direction: column;
  margin-right: 8px;
}

.postSummaryTitle {
  margin-bottom: 0px;

  i {
    font-size: $smaller-font-size;
    display: inline-flex;
    vertical-align: middle;
  }
}

.icons {
  display: inline-flex;
  font-size: inherit;

  i::before {
    margin: 0 0.05em;
  }
}

i.uis.uis-star {
  color: gold;
}

.post.meta {
  @include meta-content();
}

.meta {
  @include meta-content();
}

.postDate {
  text-transform: uppercase;
  font-weight: bold;
}

.postContent {
  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  figure {
    margin-left: 0;
    margin-right: 0;

    &:not(.fullWidth):not(.gallery-item) {
      display: table;
      margin: auto;

      figcaption {
        display: table-caption;
        caption-side: bottom;
      }
    }

    // make more specific than img tag below.
    &.fullWidth.fullWidth {
      figcaption {
        // only let the caption expand to 90% of the full viewport width
        p {
          margin-left: 5vw;
          margin-right: 5vw;
        }
      }

      // allow image to grow to 3/4 of viewport.
      // at 800 = 600 (viewport width) * 4/3 (inverse of ratio below),
      // revert to normal sizing since it 75% of viewport will be smaller than normal sizing.
      // TODO(spencer): this should naturally scale to take the full width and shrink to a min of 75%.
      @media (min-width: $full-width-image-shrink-threshold + 1) {
        left: 50%;
        margin-left: calc(max(-37.5vw, calc(#{$full-width-image-shrink-threshold} / -2)));
        margin-right:  calc(max(-37.5vw, calc(#{$full-width-image-shrink-threshold} / -2)));
        max-width: calc(min(75vw, #{$full-width-image-shrink-threshold}));
        position: relative;
        right: 50%;
        width: 100vw;
        min-width: $viewport-width;
      }

      @media(max-width: $full-width-image-shrink-threshold) {
        @include extend-width();
        figcaption {
          p {
            margin-left: 6px;
            margin-right: 6px;
          }
        }
      }
    }

    &.embed.embed {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img:not(.galleryImage) {
      max-width: 100%;
      display: flex;
      margin: auto;
    }

    figcaption {
      margin: auto;
      font-style: italic;
      color: $color-light-grey;
      margin-top: 8px;
    }

    p {
      margin: 0;
      margin: auto;
      text-align: center;
    }
  }

  hr {
    max-width: 100px;
    border-width: 2px;
    border-style: solid;
    margin: 30px auto;
    color: $color-lighter-grey;
  }
}

blockquote {
  margin: 0;
  padding-left: 1.4rem;
  position: relative;
  background: var(--color-neutral-background);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 0.5em;

  & p {
    margin: 12px 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background: #dadada;
    border-radius: 2px / 4px;
  }
}

.fullContainer {
  display: flex;
  width: 100%;
}

section.footnotes {
  & > hr {
    display: none;
  }

  &::before {
    content: "References";

    // copy over default h3 styling
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    @extend h3;
  }
}

.navigation {
  margin-top: 30px;
  max-width: 250px;

  @include media(xsmallScreen) {
    max-width: 150px;
  }

  &.left {
    margin-right: auto;
    text-align: left;
  }
  &.right {
    margin-left: auto;
    text-align: right;
  }

  h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  a, span {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 24px;
    color: $color-blueberry;
  }

  .postSummaryContainer {
    @include collapsed-post-summary-container();
  }
}

.twitterCta {
  margin: 10px 0;
}

.randomColors {
  /* Apple Core */
  color: #dcc7aa;
  /* Blueberry */
  color: #6b7a8f;
  /* COral */
  color: #ff533d;
  /* Eggshell */
  color: #f5f5f5;
  /* Peach */
  color: #fea680;
  /* Azure */
  color: #01abaa;
  /* Slate */
  color: #eae3ea;
  /* Watermelon */
  color: #ff6a5c;
  /* steel blue */
  color: #52afbb;
  /* sea green */
  color: #246e86;
  color: #309cc1;
  /* midnight blue */
  color: #0f4761;
  /* tan */
  color: #d6b8a0;
}

#coda {
  color: #f46a54;
  font-weight: bold;
  font-family: 'Calibre-R';
}

#verses {
  color: rgb(7, 121, 7);
  font-style: italic;
  font-weight: bold;
  font-size: 110%;
  font-family: 'EB Garamond';
}

#tinyInternets {
  color: rgba(40, 80, 37, 1);
}

#pluriverse {
  text-align: center;
  background: linear-gradient(
      90deg,
      #0000 33%,
      rgba(255, 255, 255, 0.5) 50%,
      #0000 66%
    )
    rgb(198, 142, 255);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  
  animation: shine 2s linear infinite;
  
  &:not(:hover) {
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  a {
    color: rgb(198, 142, 255) !important;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

#airbnb {
  color: #fd5c63;
}

#square {
  color: #27c800;
}

#rice {
  color: #00205b;
}

ul.noPadding {
  padding-left: 18px;
}

.subscribe {
  max-width: $viewport-width;
  padding: 0 10px;
  height: 75px;
  padding-top: 15px;
  display: flex;
  margin-top: 18px;
}

.galleryContainer {
  @media (min-width: 801px) {
    &.fullWidth {
      @include extend-width();
    }
  }

  &.fullWidth {
    .galleryContentContainer {
      // this is the point for 4 columns where it starts to introduce gaps.
      max-width: 1350px;
      margin-left:auto;
      margin-right: auto;
    }
  }

  &.centered {
    .gallery {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      figure {
        display: flex;
        align-items: center;
      }
    }

    .galleryCaption {
      text-align:center;
    }
  }

  // for now, don't display the caption in the gallery outside of photoswipe.
  // eventually can add an optional hover effect to show it.
  .galleryImageCaption {
    display:none;
  }
}

.galleryCaption {
  font-size: 90%;
  font-style: italic;
  color: $color-light-grey;
  text-align: right;

  @include media(xsmallScreen) {
    float: none;
    text-align: center;
  }
}

// Photoswipe, hide download button
.pswp__share-tooltip a.pswp__share--download {
  display: none;
}

.pswp img {
  object-fit: contain;
}

// Masonry code
.gallery {
  width: 100%;
  display: block;
  margin: 0 auto;

  column-count: 4;
  column-gap: 0.2rem;
  width: 100%;

  /* Extra Small Devices, Phones */
  @include media(xsmallScreen) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Small Devices, Tablets */
  @include media(smallScreen) {
    column-count: 2;
    column-gap: 3px;
  }

  @include media(mediumScreen) {
    column-count: 3;
    column-gap: 3px;
  }

  img {
    max-width: 100%;
    @include image-dropshadow();
  }
}

.gallery-item {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 0.2rem;
  width: auto;
}

// header permalinks
.anchor {
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  height: 100%;
  background: transparent;
  width: 100%;
}

.wave {
  &:hover {
    @include wave(2);
  }
}

.rotate {
  &:hover, &:focus {
    @include rotate-icon(1);
  }

  &:active {
    // resets animation so that it will work on every click (focus).
    -webkit-animation: none;
    animation: none;
  }
}

.rotate-stamp {
  animation-delay: .2s;
  @include rotate-stamp();
  
  &:active {
    // resets animation so that it will work on every click (focus).
    -webkit-animation: none;
    animation: none;
  }
}

.clickme {
  position: absolute;
  left: 289px;
  font-size: 10px;
  top: -6px;
  transform: rotate(33deg);
}

#siteTitle {
  animation: 4s jiggle-animation 5;
  animation-delay: 1s;
  margin-bottom:12px;
  margin-top: 0;
  font-family: "Muli";
  position: relative;
}

.emojiContainer {
  display:inline;
  animation: 1s bounce-animation 1;
  animation-delay:2s;
  position: absolute;
  left: 255px;

  &.inline {
    left: 0px;
    position: inherit;
  }
}

#emoji {
  cursor: pointer;
  border: 1px solid $color-site-background;
  border-radius: 50%;
  font-size:inherit;
  background: none;
  border: none;
  padding: 0px 4px;
  
  &:hover {
    background: var(--color-neutral-background);
    border: 1px solid $color-link;
  };

  @extend .rotate;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $navbar-zindex + 1;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  height: 5px;
  display: block;
}
.progress-bar {
  background-color: $color-link;
  width: 0%;
  display: block;
  height: inherit;
}
// for tags
.tf-filter-item {
  display: none;
  
  &.show-item {
    display: inherit;
  }
}

button {
  border-radius: 16px;
  font-family: "Muli";
  font-size: $default-font-size * .9;
  background: var(--color-background-lavender);
  border:1px solid var(--color-text-color);
  padding: 2px 8px;

  &.link {
    border: none;
    padding: 0;
    background: none;

    &:hover {
      @include link-highlight();
    }
  }

  &.active {
    background-color: $color-link;
  }

  &:active, &:hover {
    transition: ease-in-out .3s;
    cursor: pointer;

    &:not(.link) {
      background-color: $color-link;
    }

    &.link {
      color: $color-link;
    }
  }

  &.disable-button {
    color: opacity
  }
}

// FITS STYLING
#fitsContainer {
  // grid display
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  justify-content: center;
  // compensation for minus viewport-width
  width: $large-content-width;
  margin-left: -(($large-content-width - $viewport-width) / 2);

  @include media(xsmallScreen, smallScreen, mediumScreen) {
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    width: inherit;
  }
}

.photoCard {
  border-radius: 4px;
  border: 1px solid var(--color-text-color);
  padding: 12px;
  position: relative;
  background: var(--color-neutral-background-translucent);

  &:target {
    border: 2px solid $color-link;
    background: var(--color-background-teal);
  }

  p {
    margin-top: 8px;
    margin-bottom: 0;
  }

  .photoCardMeta {
    display: flex;
    flex-direction: row;
    @include meta-content();
    margin-bottom: 8px;
  }

  .photoCardIdx {
    cursor: pointer;
  }

  .photoCardDate {
    margin-left: auto;
  }

  .photoCardFave {
    position: absolute;
    transform: rotate(-38deg);
    top: -8px;
    left: -8px;
    text-shadow: 0 0px 30px var(--color-box-shadow);

    &::before {
      cursor: pointer;
      font-size: 150%;
    }

    &:hover, &:focus {
      &::before {
        @include spin-icon();
      }
    }

    &:active {
      &::before {
        // resets animation so that it will work on every click (focus).
        -webkit-animation: none;
        animation: none;
      }
    }

  }

  // override the `.gallery img` setting
  img {
    max-width: none;
    border-radius: 8px;
    box-shadow: none;
  }

  .photoCardPhoto {
    max-width: 100%;
    height: auto;
  }
}

.scrollUp {
  margin-top: 20px;
  text-align: center;
}

/** SNACKBAR LOGIC **/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 200px; /* Set a default minimum width */
  margin-left: -100px; /* Divide value of min-width by 2 */
  background-color: $color-dark-blue-grey-background; /* Black background color */
  color: $color-light-peach; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 6px; /* Rounded borders */
  padding: 6px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-size: $smaller-font-size;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.aboutContent {
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 8px;

  p {
    &:first-child {
      margin-top: 0;
    }
  }

  img {
    @include image-dropshadow();    
  }

  @include media(xsmallScreen, smallScreen) {
    grid-template-columns: 1fr;
  }
}

/**
 * thanks to maya man and rachel he for website marquee inspiration :)
 */
.marquee {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  text-transform: uppercase;
  z-index: 999;
  background: var(--color-neutral-background);
  padding: 8px 0;

  @extend .mono;
  @include media(xsmallScreen, smallScreen) {
    font-size: $smaller-font-size;
  }
}

.marquee > .marqueeContent {
  display: inline-block;
  will-change: transform;
  animation: marquee 55s linear infinite;

  @include media(xsmallScreen, smallScreen) {
    font-size: $smaller-font-size !important;
  }

  .date {
    &:hover {
      .epoch {
        display: none;
      }

      .timestamp {
        display: inherit;
      }
    }

    .timestamp {
      display:none;
    }

    cursor: zoom-in;
  }
}

.marquee .marqueeContent:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  // 0% {
  //     transform: translate(-50%, 0);
  // }

  // 100% {
  //     transform: translate(-63%, 0);
  // }
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.window {
  position: absolute;
  // max-width: 400px;
  width: 400px;
  height: 400px;
  pointer-events: none;
  @include image-dropshadow();


  @media only screen and (max-width: 1600px) {
    display: none;
  }

  iframe {
    height: 100%;
    width: 100%;
    border: 2px solid var(--color-text-color);
  }
}

// inspiration: https://www.youtube.com/watch?v=yRfG-l_HRoE
#stamp {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  @include image-dropshadow();
  // border: .5px solid var(--color-text-accent);
  border-radius: 2px;
  cursor: url(/assets/fire-cursor.cur), crosshair;
  transition: filter 0.2s ease-in-out;
  @extend .rotate-stamp;

  &:hover {
    filter: drop-shadow(0px 0px 12px #406dff);
  }
}

#signature#signature {
  .stamp {
    margin-top: 5.3px;
    margin-left: 10px;
  }

  * {
    margin-bottom: 0;
  }

  .signatureContent {
    display:grid;
    grid-template-columns: auto auto;
    width:fit-content;
    margin-left: auto;

    .serif {
      text-align: right;
    }
  }
  float:right;

  @include media(smallScreen) {
    float:none;
  }
}

#expandingLikes {
  .likeItem:not(:first-child) {
    animation: fadeIn .5s;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
