$viewport-width: 650px;
$navBar-height: 50px;
$color-light-grey: #ababab;
$color-lighter-grey: rgba(112, 128, 144, 0.25);
$color-lighter-grey-background: rgba(112, 128, 144, 0.1);
$color-blueberry: rgba(107, 122, 143, 1);
$color-link: #fea680;
$color-external-link: #62b3b2;
$color-highlight: #fef4ad;
$color-light-peach: #fffcf7;
$color-dark-blue-grey: #5f6580;
$color-light-lavender: rgb(250, 248, 254);
$default-font-size: 18px;
// $scaled-font-size: calc(min(max(18px, .75vw), 20px));
$scaled-font-size: $default-font-size;
$default-line-height: 1.6;
$smaller-font-size: $default-font-size * .8;
$navbar-zindex: 999;
$color-text-color: #282828;

// source: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
$screenXsmallMin: 320px;
$screenSmallMin: 481px;
$screenMediumMin: 768px;
$screenLargeMin: 1025px;
$screenXlargeMin: 1281px;

$screenMinWidths: (
  xsmallScreen: $screenXsmallMin,
  smallScreen: $screenSmallMin,
  mediumScreen: $screenMediumMin,
  largeScreen: $screenLargeMin,
  xlargeScreen: $screenXlargeMin,
);

$screenMaxWidths: (
  xsmallScreen: $screenSmallMin - 1,
  smallScreen: $screenMediumMin - 1,
  mediumScreen: $screenLargeMin - 1,
  largeScreen: $screenXlargeMin - 1,
);

// sources
// https://stackoverflow.com/questions/9829612/save-media-query-in-variable
// https://stackoverflow.com/questions/55882215/how-can-i-use-multiple-include-in-scss
//  mixin to print out media queries (based on map keys passed)
@mixin media($keys...) {
  @each $key in $keys {
    @media only screen and (min-width: map-get($screenMinWidths, $key)) and (max-width: map-get($screenMaxWidths, $key)) {
      @content;
    }
  }
}

@mixin image-dropshadow() {
  box-shadow: 0 0px 15px 2px rgba(0, 0, 0, 0.2),
    0 0px 36px -18px rgba(0, 0, 0, 0.22);
}

// source: https://gomakethings.com/how-to-break-an-image-out-of-its-parent-container-with-css/
@mixin extend-width() {
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  width: 100vw;
  min-width: $viewport-width;
}

@mixin quote-font() {
  font-family: "Crimson Text";
}

@mixin collapsed-post-summary-container() {
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
  }

  .postSummaryHeader {
    width: 100%;
  }
}

* {
  font-family: 'Muli';

  .sans-serif &,
  &.sans-serif {
    font-family: "Muli";
  }
  
  .serif &,
  &.serif {
    font-family: "Playfair Display";
  }

  .mono &,
  &.mono {
    font-family: "Cousine", monospace;
  }
}

body {
  font-family: "Muli";
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
  color: $color-text-color;
  margin-left: 16px;
  margin-right: 16px;
  background: $color-light-peach;
  overflow-x: none;
}

::selection {
  background: $color-highlight; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $color-highlight; /* Gecko Browsers */
}

mark {
  background: $color-highlight;
}

.pullquote {
  position: relative;
  margin: 1em;
  color: $color-dark-blue-grey;
  font-size: 125%;
  @include quote-font();

  &::before {
    content: "“";
    font-family: "Muli";
    position: absolute;
    right: 100%;
    font-size: 80px;
    line-height: 0;
    top: 25px;
    color: $color-blueberry;
  }
  
  // background coloring
  &::after {
    content: "";
    max-width: $viewport-width + 50px;
    left: -50px;
    width: 100vw;
    height: 110%;
    background: $color-light-lavender;
    display: block;
    position: absolute;
    top: -5%;
    z-index: -1;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
  }
}

.calloutBlock {
  background-color: #eaf5f0;
  padding: 1em 2em;
  border: 1px solid #52afbb;
  border-radius: 8px;

  span {
    position: relative;
    line-height: 1.4;

    &::before {
      content: "❓";
      font-family: "Muli";
      position: absolute;
      right: 100%;
      font-size: 120%;
      line-height: 0;
      top: 10px;
      margin-right: 6px;
    }
  }
}

section.footnotes {
  ol {
    padding-left: 1rem;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge*/
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

div {
  font-size: $scaled-font-size;
  .serif &,
  &.serif {
    font-family: "Playfair Display";
  }

  .mono &,
  &.mono {
    font-family: "Cousine", monospace;
  }
}

p {
  font-family: "Muli";
  line-height: $default-line-height;
  font-size: $scaled-font-size;

  .mono & {
    font-family: "Cousine", monospace;
  }

  .serif & {
    font-family: "Playfair Display";
  }

  & > code {
    font-size: 95%;
  }
  figcaption > & {
    font-size: 90%;
  }
}

* > li {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  position: relative;

  .serif & {
    font-family: "Playfair Display";
  }

  .mono & {
    font-family: "Cousine", monospace;
  }
}

pre,
code {
  font-family: "Cousine", "Menlo", "Courier", monospace;
  color: #4f4f4f;
}

.shareCta {
  display:flex;
  align-items: center;
  gap: 0 6px;

  button {
    margin-bottom: 6px;
    padding: 0;
  }
}

button.icon {
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  background: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;

  i {
    font-size: 20px;
  }
  &:hover {
    color: $color-link
  }
}

#content {
  max-width: $viewport-width;
  min-width: 300px;
  width: 100%;
}

.navbarActions {
  margin-left: auto;
  display: grid;
  grid-gap: .5rem;
  grid-auto-flow: column;

  a {
    padding: 1px;

    @include media(xsmallScreen) {
      padding: 1px 4px;
      background: $color-link;
      border-radius: 4px;
    }

    span {
      @include media(xsmallScreen) {
        display:none;
      }
    }
  }
}

#navbar {
  border-bottom: 1px $color-lighter-grey solid;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $navBar-height;
  z-index: $navbar-zindex;
  scroll-margin-top: $navBar-height;

  /* Collapse nav bar on scroll down */
  &.collapse {
    animation: collapse 0.25s ease forwards;
  }

  /* Open nav bar on scroll up */
  &.open {
    animation: open 0.25s ease forwards;
  }

  .socialMediaContainer {
    margin: 0;
    margin-left: auto;

    i {
      font-size: 24px;
    }
  }
}

.navbarContainer {
  display: flex;
  align-items: center;
  max-width: $viewport-width;
  margin: auto;

  @include media(xsmallScreen) {
    font-size: 90%;
    margin: 0 5px;
  }

  a:not(.socialMediaLink) {
    color: $color-blueberry !important;
  }

  h2 {
    margin: 0;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    top: 0;
  }

  to {
    opacity: 0;
    top: -$navBar-height;
  }
}

@keyframes open {
  from {
    opacity: 0;
    top: -$navBar-height;
  }

  to {
    opacity: 1;
    top: 0;
  }
}
#siteTitle {
  text-align: center;
}

.title {
  font-size: 2.25em;
  font-family: "Raleway";
}

.relatedPosts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem 3rem;

  @include media(xsmallScreen) {
    grid-template-columns: 1fr;
  }

  .postSummaryContainer {
    margin-top: 0;
    @include collapsed-post-summary-container();
  }
}

.relatedPost {
  display: flex;
  flex-direction: column;
  // padding: 10px;
  // border: 1px black solid;
  // border-radius: 6px;
  // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  //   0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: background-color 0.2s;
  max-height: 155px;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;

  & h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-link;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  // source: https://github.com/IanLunn/Hover/blob/master/css/hover.css
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $color-blueberry;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover {
    // background-color: $color-highlight;
    &:before {
      right: 0;
    }
  }
}

.relatedLink.relatedLink {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.mainContainer {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.avatar {
  border-radius: 50%;
  border: 1px black solid;
  width: 120px;
  height: 120px;
  margin: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  &.small {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    vertical-align: middle;
  }

  &:hover,
  &:active,
  &:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    content: url(/assets/spencer_real_person.png)
  }
}

.headerContainer {
  max-width: 530px;
  margin: 80px auto 40px auto;
  text-align: center;

  &.home {
    .description div {
      margin-bottom: 10px;
      text-align: left;
    }
  
    ul {
      margin-top: 6px;
    }
  }
}

.listDescription {
  text-align:left;
  width: 100%;
}

@mixin link-highlight() {
  background-color: $color-highlight;
  border-radius: 4px;
}


// external links
a[href^="http"]:not(.relatedLink):not(.socialMediaLink):not(.anchor) {
  color: $color-external-link;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    @include link-highlight();
  }
}

// internal links
a:not([href^="http"]):not(.relatedLink):not(.socialMediaLink):not(.anchor):not(.avatarLink) {
  color: $color-link;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    @include link-highlight();
  }
}

.postHeaderLink {
  // for some reason doing the or selector (,) on all of these doesn't work, maybe submit issue?
  h1:hover & {
    @include link-highlight();
  }
  h2:hover & {
    @include link-highlight();
  }
  h3:hover & {
    @include link-highlight();
  }
  h4:hover & {
    @include link-highlight();
  }
  h5:hover & {
    @include link-highlight();
  }
  h6:hover & {
    @include link-highlight();
  }
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0;

  a {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 32px;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: $color-link;
    }
  }

  img {
    width: 32px;
    height: 32px;
    padding: 5px;
    // filter: grayscale(90%);
  }

  i {
    &:before {
      margin-left: 0.1em;
      margin-right: 0.1em;
    }
  }
}

.embedContainer {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;

  *:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.summaryList {
  width: 100%;
}

.postContainer {
  width: 100%;
  margin-top: $navBar-height;

  .title {
    margin-bottom: 0;
    margin-top: 0;
  }

  .description {
    color: $color-light-grey;
    margin-top: 8px;
  }

  h3:first-child {
    margin-bottom: 6px;
  }

  // narrow margin on the first descendant if there's not a full width image
  article > *:not(figure):not(img):first-child {
    margin-top: 6px;
  }
}

.postFooter {
  font-weight: bold;
  color: $color-light-grey;
  @extend .mono;
  // font-size: 80%;
  font-size: $smaller-font-size;
  line-height: $default-line-height;
}

// Collapsible sections
summary {
  font-size: $scaled-font-size;
  line-height: $default-line-height;
  position:relative;
  display: inline;
  border-radius: 4px;

  & h3 {
    display:inline;
  }
}

// Hide the standard > marker since not showing on Chrome so using custom icon.
// from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#Customizing_the_disclosure_widget
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > div {
  // border: 2px solid $color-blueberry;
  background: $color-light-lavender;
  box-shadow: 0px 0px 5px #555 inset;
  margin-top: 0;
  padding: 1rem;
  border-radius: 4px;

  & > p:first-child {
    margin-top: 0px;
  }
  & > p:last-child {
    margin-bottom: 0px;
  }
}

// Custom icons for collapsing since the default one doesn't show on
// Chrome-based browsers when display: inline on for some reason.
summary:before {
  box-sizing: border-box;
	// content: '\e804';
  // font-family: unicons-solid;
  content: '🔽';
  margin-right: 3px;
  font-style: normal;
  speak: none;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
}

details[open] summary:before {
	// content: '\e80d';
	content: '🆙';
}

summary:hover, summary:focus {
	background: $color-highlight;

  &:before {
    // TODO: figure out why fails to compile with `wave` mixin not defined. this is copy pasted for now.
    animation-name: wave-animation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}

details div {
  display:flex;
  flex-direction: column;
}

.summaryList {
  margin-top: 16px;
}

.writingMeta {
  * { 
    // font-size: 80%;
    // font-size: $smaller-font-size !important;
  }
  p {
    margin: 4px 0;
  }
}

.postSummaryContainer {
  display: flex;
  margin-top: 32px;
  
  @include media(xsmallScreen) {
    @include collapsed-post-summary-container();
  }
}

.postSummaryImageContainer {
  margin-right: 24px;
}

.postSummaryImage {
  width: 225px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  @include image-dropshadow();
}

.postSummaryHeader {
  h3 {
    margin-top: 2px;
  }
  display:flex;
  flex-direction: column;
}

.postSummaryTitle {
  margin-bottom: 0px;

  i {
    font-size: $smaller-font-size;
    display: inline-flex;
    vertical-align: middle;
  }
}

.icons {
  display: inline-flex;
  font-size: inherit;

  i::before {
    margin: 0 0.05em;
  }
}

i.uis.uis-star {
  color: gold;
}

.postSummary {
  margin: 6px 0;
}

.post.meta {
  color: slategrey;
  @extend .sans-serif;
  // font-size: 80%;
  font-size: $smaller-font-size;
}

.postDate {
  text-transform: uppercase;
  font-weight: bold;
}

.postContent {
  figure {
    margin-left: 0;
    margin-right: 0;

    &:not(.fullWidth):not(.gallery-item) {
      display: table;
      margin: auto;

      figcaption {
        display: table-caption;
        caption-side: bottom;
      }
    }

    // make more specific than img tag below.
    &.fullWidth.fullWidth {
      img {
        @include image-dropshadow();
      }

      figcaption {
        // only let the caption expand to 75% of the full viewport width
        p {
          margin: 0 12.5vw;
        }
      }

      // allow image to grow to 3/4 of viewport.
      // at 800 = 600 (viewport width) * 4/3 (inverse of ratio below),
      // revert to normal sizing since it 75% of viewport will be smaller than normal sizing.
      @media (min-width: 801px) {
        & {
          @include extend-width();
        }

        // only let the caption expand to 75% of 75% of full viewport width
        // since we are constraining the image to 75% of viewport above.
        figcaption p {
          margin: 0 25vw;
        }
      }
    }

    &.embed.embed {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img:not(.galleryImage) {
      max-width: 100%;
      display: flex;
      margin: auto;
    }

    figcaption {
      margin: auto;
      font-style: italic;
      color: $color-light-grey;
    }

    p {
      margin: 0;
      margin: auto;
      text-align: center;
    }
  }

  hr {
    max-width: 100px;
    border-width: 2px;
    border-style: solid;
    margin: 30px auto;
    color: $color-lighter-grey;
  }
}

blockquote {
  margin: 0;
  padding-left: 1.4rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background: #dadada;
    border-radius: 2px / 4px;
  }
}

.fullContainer {
  display: flex;
  width: 100%;
}

section.footnotes {
  & > hr {
    display: none;
  }

  &::before {
    content: "References";

    // copy over default h3 styling
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    @extend h3;
  }
}

.navigation {
  margin-top: 30px;
  max-width: 250px;

  @include media(xsmallScreen) {
    max-width: 150px;
  }

  &.left {
    margin-right: auto;
    text-align: left;
  }
  &.right {
    margin-left: auto;
    text-align: right;
  }

  h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  a, span {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 24px;
    color: $color-blueberry;
  }

  .postSummaryContainer {
    @include collapsed-post-summary-container();
  }
}

.twitterCta {
  margin: 10px 0;
}

.randomColors {
  /* Apple Core */
  color: #dcc7aa;
  /* Blueberry */
  color: #6b7a8f;
  /* COral */
  color: #ff533d;
  /* Eggshell */
  color: #f5f5f5;
  /* Peach */
  color: #fea680;
  /* Azure */
  color: #01abaa;
  /* Slate */
  color: #eae3ea;
  /* Watermelon */
  color: #ff6a5c;
  /* steel blue */
  color: #52afbb;
  /* sea green */
  color: #246e86;
  /* midnight blue */
  color: #0f4761;
  /* tan */
  color: #d6b8a0;
}

#coda {
  color: #f46a54;
}

#airbnb {
  color: #fd5c63;
}

#square {
  color: #27c800;
}

#rice {
  color: #00205b;
}

ul.noPadding {
  padding-left: 18px;
}

.subscribe {
  max-width: $viewport-width;
  width: 100%;
  height: 180px;
  margin: auto;
  display: flex;
}

.galleryContainer {
  @media (min-width: 801px) {
    &.fullWidth {
      @include extend-width();
    }
  }

  &.fullWidth {
    .galleryContentContainer {
      // this is the point for 4 columns where it starts to introduce gaps.
      max-width: 1350px;
      margin-left:auto;
      margin-right: auto;
    }
  }

  &.centered {
    .gallery {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      figure {
        display: flex;
        align-items: center;
      }
    }

    .galleryCaption {
      text-align:center;
    }
  }

  // for now, don't display the caption in the gallery outside of photoswipe.
  // eventually can add an optional hover effect to show it.
  .galleryImageCaption {
    display:none;
  }
}

.galleryCaption {
  font-size: 90%;
  font-style: italic;
  color: $color-light-grey;
  text-align: right;

  @include media(xsmallScreen) {
    float: none;
    text-align: center;
  }
}

// Photoswipe, hide download button
.pswp__share-tooltip a.pswp__share--download {
  display: none;
}

// Masonry code
.gallery {
  width: 100%;
  display: block;
  margin: 0 auto;

  column-count: 4;
  column-gap: 0.2rem;
  width: 100%;

  /* Extra Small Devices, Phones */
  @include media(xsmallScreen) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Small Devices, Tablets */
  @include media(smallScreen) {
    column-count: 2;
    column-gap: 3px;
  }

  @include media(mediumScreen) {
    column-count: 3;
    column-gap: 3px;
  }

  img {
    max-width: 100%;
    @include image-dropshadow();
  }
}

.gallery-item {
  /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 0.2rem;
  width: auto;
}

// header permalinks
.anchor {
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  height: 100%;
  background: transparent;
  width: 100%;
}

// from https://jarv.is/notes/css-waving-hand-emoji/
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   45% { transform: rotate(-14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   85% { transform: rotate(8.0deg) }
  //  30% { transform: rotate(-14.0deg) }
  //  40% { transform: rotate(4.0deg) }
  //  50% { transform: rotate(-10.0deg) }
  //  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@mixin wave($iteration-count: 1) {
  animation-name: wave-animation;
  // animation-duration: 2.5s;
  animation-duration: .5s;
  animation-iteration-count: $iteration-count;
  transform-origin: 70% 70%;
  display: inline-block;
}

.wave {
  &:hover {
    @include wave(2);
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $navbar-zindex + 1;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  height: 5px;
  display: block;
}
.progress-bar {
  background-color: $color-link;
  width: 0%;
  display: block;
  height: inherit;
}
// for tags
.tf-filter-item {
  display: none;
  
  &.show-item {
    display: inherit;
  }
}

button {
  border-radius: 16px;
  font-family: "Muli";
  font-size: $default-font-size * .9;
  background: $color-light-lavender;
  border:1px solid $color-text-color;
  padding: 2px 8px;

  &.active {
    background-color: $color-link;
  }

  &.disable-button {
    color: opacity
  }
}

