body {
    font-family: 'Muli';
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
}

#content {
    max-width: 650px;
    min-width: 350px;
    width: 100%;
}

p {
    font-family: 'Muli';
    line-height: 22px;
}

p.mono {
    font-family: 'Cousine'monospace;
}

p.serif {
    font-family: 'Playfair Display';
}

#siteTitle {
    text-align: center;
}

.title {
    font-size: 2.25em;
    font-family: 'Raleway';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway';
}

pre,
code {
    font-family: "Cousine", "Menlo", "Courier", monospace;
    color: #4f4f4f;
}

p>code {
    font-size: 95%;
}

.mainContainer {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.avatar {
    border-radius: 50%;
    border: 1px black solid;
    width: 120px;
    height: 120px;
    margin: 10px
}

.avatar.small {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    vertical-align: middle;
}

.headerContainer {
    max-width: 490px;
    text-align: center;
    margin-bottom: 40px;
    margin: auto;
}

.headerContainer .description div {
    margin-bottom: 10px;
    text-align: left;
}

.headerContainer.post {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 4px;
    border-bottom: 2px slategrey solid;
    max-width: none;
}

.headerContainer.post a {
    color: #6b7a8f;
    text-decoration: none;
}

.headerContainer.post h2 {
    margin: 0;
}

a {
    color: #fea680;
    ;
    text-decoration: none;
}

a.internal {}


a:hover {
    text-decoration: underline;
}

.postContent hr {
    max-width: 450px;
}

h1.post {
    position: relative;
}

h1.post:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: -15px;
    left: 25%;
    border-bottom: 1px dashed slategrey;
}


.socialMediaContainer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.socialMediaContainer img {
    width: 32px;
    height: 32px;
    padding: 5px;
    filter: grayscale(90%);
    transition: filter 0.25s ease-in-out;
}

.socialMediaContainer img:hover {
    filter: none;
}

.summaryList {
    width: 100%;
}

.postSummaryTitle {
    margin-bottom: 0px;
}

.postSummary {
    margin: 6px 0;
}

.post.meta {
    color: slategrey;
}

.postDate {
    text-transform: uppercase;
}

/* .post hr {
        max-width: 100px;
        border-width: 3px;
        border-style: solid;
        MARGIN: 30px auto;
        color: #ABABAB;
} */

.twitterCta {
    margin: 10px 0;
}

.randomColors {
    /* Apple Core */
    color: #DCC7AA;
    /* Blueberry */
    color: #6b7a8f;
    /* COral */
    color: #FF533d;
    /* Eggshell */
    color: #f5f5f5;
    /* Peach */
    color: #fea680;
    /* Azure */
    color: #01abaa;
    /* Slate */
    color: #eae3ea;
    /* Watermelon */
    color: #ff6a5c;
    /* steel blue */
    color: #52AFBB;
    /* sea green */
    color: #246E86;
    /* midnight blue */
    color: #0F4761;
    /* tan */
    color: #D6B8A0
}

#coda {
    color: #f46a54
}

#airbnb {
    color: #FD5C63
}

#square {
    color: #27C800
}
