<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />

<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="description"
        content="{{ .Description }}" />
    <meta name="keywords"
        content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}" />
    <!--— facebook open graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:description" content="{{ .Description }}" />
    {{ $defaultThumbnail := "/assets/companion-in-a-box-final.png" | absURL }}
    <meta property="og:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}{{$defaultThumbnail}}{{ end }}" />
    <!-- Don't index draft posts -->
    {{ if .Params.draft }}
        <meta name="robots" content="noindex">
    {{ end }}
    
    <!-- twitter card tags additive with the og: tags -->
    <meta name="twitter:card" content="{{ if .IsHome }}summary{{ else }}summary_large_image{{ end }}">
    <meta name="twitter:domain" value="{{ .Site.BaseURL }}" />
    <meta name="twitter:title" value="{{.Title}}" />
    <meta name="twitter:description" value="{{ .Description }}" />
    <meta name="twitter:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}{{$defaultThumbnail}}{{ end }}" />
    <meta name="twitter:url" value="{{ .Permalink }}" />
    {{ if .IsHome }}
    <!-- twitter card tags additive with the og: tags -->
    <meta name="twitter:label1" value="Currently" />
    <meta name="twitter:data1" value='Engineering in San Francisco 🌉⛰' />
    {{ else }}
    <meta name="twitter:label1" value="Posted on" />
    <meta name="twitter:data1" value='{{.Date.Format "January 2, 2006"}}' />
    <meta name="twitter:label2" value="Reading time" />
    <meta name="twitter:data2" value="{{ .ReadingTime }} mins🕐" />
    {{ end }}
    <meta name="robots" content="noodp" />
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900|Muli:400,500,700,800,900|Cousine:400,400i,700,700i|Playfair+Display:400,400i,500,500i,700|Crimson+Text:400,400i,600,600i,700,700i&display=swap"
        rel="stylesheet">
    <!-- icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/solid.css">
    {{ template "_internal/google_analytics_async.html" . }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- add rss feed -->
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- prevent copying images -->
    <!-- <script>
       document.addEventListener('contextmenu', event => {
           if (event.target.tagName === 'IMG') {
               event.preventDefault()
           }
        });

    </script> -->
    <!-- Enhanced google analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '{{ .Site.GoogleAnalytics }}', 'auto');

        // Additional plugins to use
        ga('require', 'outboundLinkTracker');
        ga('require', 'mediaQueryTracker');
        ga('require', 'impressionTracker');
        ga('require', 'maxScrollTracker');
        ga('require', 'pageVisibilityTracker');

        ga('send', 'pageview');
    </script>
    <script async src="/autotrack.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- lazy load images to prioritize those in view -->
    <script async src="/lazysizes.min.js"></script>

    <!-- javaccript helpers -->
    <script async src="/helpers.js"></script>

    <!-- telescopic text -->
    <script src="https://unpkg.com/telescopic-text/lib/index.js"></script>
    <link
        href="https://unpkg.com/telescopic-text/lib/index.css"
        rel="stylesheet"
    />
</head>

<body>
    {{ partial "navbar.html" }}
    <div id="content">
        {{ block "header" . }}
        {{ end }}
        <!-- Code that all your templates share, like a header -->
        <div class="mainContainer">
            {{ block "main" . }}
            {{ end }}
        </div>
        <!-- The part of the page that begins to differ between templates -->
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ partial "footer.html" . }}
        {{ end }}
    </div>
    <div id="snackbar"/>
</body>

</html>
