<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />

<head>
    <meta charset="utf-8">
    <meta name="description"
        content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
    <meta name="keywords"
        content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}" />
    <meta name="robots" content="noodp" />
    <!-- Blocks may include default content. -->
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900|Muli:400,500,700,800,900|Cousine:400,400i,700,700i|Playfair+Display:400,400i,500,500i,700&display=swap"
        rel="stylesheet">
<!-- icons -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css">
</head>

<body>
    <div id="content">
        {{ block "header" . }}
        {{ end }}
        <!-- Code that all your templates share, like a header -->
        <div class="mainContainer">
            {{ block "main" . }}
            {{ end }}
        </div>
        <!-- The part of the page that begins to differ between templates -->
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
    </div>
</body>

</html>
