{{ define "header" }}
<div class="headerContainer textContent">
  <h1>{{.Title}} {{ partial "personal_emoji.html" (dict "hideWee" "true" "inline" "true" "emojis" .Params.emojis) }}</h1>
</div>
{{ end }} {{ define "main" }}
<div class="listDescription textContent">
  <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
  {{.Content}}
</div>
<div class="summaryList">
  {{ if isset .Params "postfilter" }}
  {{ range where .Site.RegularPages "Params.tags" "intersect" .Params.postfilter }} 
    {{ .Render "summary" }} 
  {{ end }}
  {{ else }}
    {{ range .Pages }} {{ .Render "summary" }} {{ end }}
  {{ end }}
</div>
{{ partial "marquee.html" }}
{{ end }}
