{{ define "header" }}
<div class="headerContainer">
  <h1>{{.Title}}</h1>
</div>
{{ end }} {{ define "main" }}
<div class="listDescription">
  <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
  {{.Content}}
</div>
<div class="summaryList">
  {{ if isset .Params "postfilter" }}
  {{ range where .Site.RegularPages "Params.tags" "intersect" .Params.postfilter }} 
    {{ .Render "summary" }} 
  {{ end }}
  {{ else }}
    {{ range .Pages }} {{ .Render "summary" }} {{ end }}
  {{ end }}
</div>
{{ end }}
