{{ define "header" }} 
<div class="progress-container fixed-top">
  <span class="progress-bar"></span>
</div>
{{ end }} 
{{ define "main"}}
<div class="postContainer {{ with .Params.storyType }} {{ . }} {{ end }}">
  <div class="post meta">
    <!-- TODO: make the date linkable -->
    <span class="postDate">{{ .Date.Format "01.02.2006" }}</span>
    <!-- TODO: add other metadata like location and time and song with icons -->
    {{ $hasIcon := or (in .Params.tags "favorite") (isset .Params "icon") }}
    {{ if $hasIcon}}
    // 
    <div class="icons">
      {{ with .Params.icon }} 
        <i class="{{.}}"></i>
      {{ end }}
      {{ if in .Params.tags "favorite" }} 
        <i class="uis uis-star"></i>
      {{ end }}
    </div>
    {{ end }}
  </div>
  <h1 class="title">{{ .Title }}</h1>
  <h3 class="description">{{ .Description }}</h3>
  <div>
    <article class="postContent">
      {{ with .Params.external_link }}
      <p>This post was originally published <a href="{{.}}">somewhere else</a>.</p>
      {{ end }}
      {{ .Content }}
    </article>
  </div>
</div>
<footer>
    <hr/>
    {{ partial "post_footer.html" . }}
</footer>
<script>
  // scroll indicator
  function scrollProgressBar() {
    var getMax = function () {
      return $(document).height() - $(window).height();
    };

    var getValue = function () {
      return $(window).scrollTop();
    };

    var progressBar = $(".progress-bar"),
      max = getMax(),
      value,
      width;

    var getWidth = function () {
      // Calculate width in percentage
      value = getValue();
      width = (value / max) * 100;
      width = width + "%";
      return width;
    };

    var setWidth = function () {
      progressBar.css({ width: getWidth() });
    };

    $(document).on("scroll", setWidth);
    $(window).on("resize", function () {
      // Need to reset max
      max = getMax();
      setWidth();
    });
  }
  $(document).ready(function () {
    scrollProgressBar();
  });
</script>
<!-- <aside id="meta">
    <div>
        <section>
            <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
            <h5 id="wordcount"> {{ .WordCount }} Words </h5>
        </section>
        {{ with .Params.topics }}
        <ul id="topics">
            {{ range . }}
            <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.tags }}
        <ul id="tags">
            {{ range . }}
            <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</aside> -->
{{ end }}
