{{ define "header" }}
<div class="headerContainer">
  <h1>{{.Title}} {{ partial "personal_emoji.html" (dict "hideWee" "true" "inline" "true" "emojis" .Params.emojis) }}</h1>
</div>
{{ end }} 
{{ define "main" }}
<div class="listDescription">
  <div>{{ partial "writing_projects.html" .}}
    </div>
  {{.Content}}
</div>
<div class="summaryList" id="summaryList">
    <!-- {{ partial "legend.html" }} -->
  {{ $pages := where .Site.RegularPages "Type" "posts" }}
  {{ $pages = where $pages "Draft" "==" false }}
  {{ $newsletter := slice "newsletter" }}
  {{ $newsletterPages := where .Site.RegularPages "Params.tags" "intersect" $newsletter }}
  {{ $pages = $pages | union $newsletterPages }}
  {{ $project := slice "projects" }}
  {{ $showcasePages := where .Site.RegularPages "Params.show_home" true }}
  {{ $projects := where .Site.RegularPages "Params.tags" "intersect" $project }}
  {{ $allPages := sort (($pages | union $showcasePages) | complement $projects) "Date" "desc" }}

  <h2 id="recentWriting">all recent writing</h3>
  {{ partial "posts_filtered_by_tags.html" $allPages }}
</div>
{{ partial "marquee.html" }}
{{ end }}

