{{ define "header" }}
<div class="headerContainer">
  <h1>{{.Title}} {{ partial "personal_emoji.html" (dict "hideWee" "true" "inline" "true" "emojis" .Params.emojis) }}</h1>
</div>
{{ end }} 
{{ define "main" }}
<div class="listDescription">
  {{ partial "writing_projects.html" .}}
  <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
  {{.Content}}
</div>
<div class="summaryList">
    {{ partial "legend.html" }}
    {{ $pages := where .Site.RegularPages "Type" "posts" }}
    {{ $showcasePages := where .Site.RegularPages "Params.show_home" true }}
    {{ $allPages := sort ($pages | union $showcasePages) "Date" "desc" }}
    {{ partial "posts_filtered_by_tags.html" $allPages }}
</div>
{{ end }}
