<!-- activity stream marquee -->
{{ $stream := getJSON "https://status.spencerchang.me/api/me" }}
<div class="marquee">
  <span class="marqueeContent">
  {{ range $index, $element := $stream }}
    [<span class="date"><span class="timestamp">{{ time.Format "01.02|15:09" $element.date }}</span><span class="epoch">{{ lang.FormatNumberCustom 0 $element.birthdayEpoch "- ." }}</span></span>] {{ $element.displayHTML | safeHTML}} •  
  {{ end }}
  {{ range $index, $element := $stream }}
    [<span class="date"><span class="timestamp">{{ time.Format "01.02|15:09" $element.date }}</span><span class="epoch">{{ lang.FormatNumberCustom 0 $element.birthdayEpoch "- ." }}</span></span>] {{ $element.displayHTML | safeHTML}} •  
  {{ end }}
</span>
</div>
