<!-- Handle showing active navbar -->
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
    /* 
      - Code to execute when only the HTML document is loaded.
      - This doesn't wait for stylesheets, 
        images, and subframes to finish loading. 
    */
   if (!document.querySelector('.navbarActions')) {
    return;
   }
  const navActions = document.querySelector(".navbarActions").children
  for (const nav of navActions) {
    if (!nav.attributes['href']) {
      continue;
    }
    
    if (window.location.href.indexOf(nav.attributes['href'].value) > -1) {
        nav.className = 'active'
    } else {
        nav.className = '';
    }
  }
  });
</script>

<!-- src: https://blog.christopherianmurphy.com/2017/05/expand-collapse-navbar/ -->
<nav id="navbar">
  <div class="navbarContainer">
    <a href="/" class="avatarLink"
        >
          <img class="avatar small" src="/assets/companion-in-a-box-final.png"
      /></a>
    {{ partial "navbar_actions.html" . }}
  </div>

  <script>
    // Store navbar classes
    var navbarElem = document.getElementById("navbar");
    var navClasses = navbarElem.classList;
    var navbarHeight = navbarElem.clientHeight;

    function downAction() {
      navClasses.remove("open");
      navClasses.add("collapse");
    }

    function upAction() {
      navClasses.remove("collapse");
      navClasses.add("open");
    }

    // returns current scroll position
    var scrollTop = function() {
      return window.scrollY;
    };

    // Initial scroll position
    var scrollState = 0;

    // Primary scroll event function
    var scrollDetect = function(down, up) {
      // Current scroll position
      var currentScroll = scrollTop();
      if (currentScroll > scrollState && currentScroll > navbarHeight / 3) {
        down();
      } else if (currentScroll < scrollState) {
        up();
      }
      // Set previous scroll position
      scrollState = scrollTop();
    };
    window.addEventListener("scroll", function() {
      scrollDetect(downAction, upAction);
    });
  </script>
</nav>
