<!-- TODO: if you add side scrolling for links and stuff remove this. -->
<div class="postFooter">
  <p>I write for emotional resonance and thought provoking, so please <a href="https://twitter.com/@spencerc99">message me</a> (<a href="mailto:spencerc99@gmail.com">spencerc99@gmail.com</a>) if you have thoughts :)</span>
  <p>You can submit your email below (or use <a href="/index.xml">RSS</a>) to get updates on new writing and projects (also on <a href="https://twitter.com/spencerc99/">Twitter</a>)</p>
</div>
<div class="shareCta">
  {{ partial "email_embed.html" }}
  <div class="shareActions">
    {{ with .Permalink }}
      <button class="icon link" href="" onclick="copyLink({{.}})"><i class="uil uil-link-h" ></i> Copy Link</button>
    {{ end }}
  </div>
</div>
{{ partial "related.html" . }}
<br/>
<div><i>back to my <a href="/">favorites</a> or <a href="/posts">all my writing</a>.</i></div>
<script src="/plugins/permalink/permalink.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js" integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
const images = Array.from(document.querySelectorAll("figure img:not(.galleryImage)"));
images.forEach(img => {
  mediumZoom(img, {
    margin: 0, /* The space outside the zoomed image */
    scrollOffset: 40, /* The number of pixels to scroll to close the zoom */
    container: null, /* The viewport to render the zoom in */
    template: null /* The template element to display on zoom */
  });
});
</script>
