<!-- TODO: if you add side scrolling for links and stuff remove this. -->
<div class="postFooter">
  <p>I write for emotional resonance and thought provoking, so please <a href="https://twitter.com/@spencerc99">message me</a> (<a href="mailto:spencerc99@gmail.com">spencerc99@gmail.com</a>) if you have thoughts :)</span>
  <p>You can submit your email below (or use <a href="/index.xml">RSS</a>) to get updates on new writing and projects (also on <a href="https://twitter.com/spencerc99/">Twitter</a>)</p>
</div>
<div class="shareCta">
  <iframe class="subscribe" src="https://spencerchang.substack.com/embed" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  <div class="shareActions">
    {{ with .Permalink }}
      <button class="icon link" href="" onclick="copyLink({{.}})"><i class="uil uil-link-h" ></i> Copy Link</button>
    {{ end }}
  </div>
</div>
{{ partial "related.html" . }}
<br/>
<div><i>back to my <a href="/">favorites</a> or <a href="/posts">all my writing</a>.</i></div>
<script src="/plugins/permalink/permalink.js"></script>
