<h4 style="margin-bottom:8px;">writing projects</h4>
  <div class="writingMeta">
    <p><span class="postDate post meta">06.04.21</span> | <a href="/experiments/postal-portals">Postal Portals</a>: a series of letters with friends to deep-dive into concepts weighing on our minds.</p>
    <p><span class="postDate post meta">04.11.21</span> | <a href="{{(site.GetPage "/experiments/100posts").RelPermalink}}">Mini-essay experiment</a> to publish raw, lightly edited pieces semi-daily towards achieving 100 public pieces.</p>
  </div>
