{{ $pageurls := apply (.Params.related | default slice) "string" "." }}
{{ $linkedPages := slice }}
{{ range $pageurls }}
{{ $linkedPages = $linkedPages | append (. | $.Site.GetPage) }}
{{ end }}
{{ $related := $linkedPages | union (.Site.RegularPages.Related .) | first 4 }}
{{ with $related }}
<h3>Related Posts</h3>
<div class="relatedPosts">
    {{ range . }}
        {{ .Render "summary" }}
    <!-- <div class="relatedPost">
            <a href="{{ .RelPermalink }}" class="relatedLink">
                <h3>{{ .Title }}</h3>
                <div class="post summary meta">
                    <span class="postDate">{{ .Date.Format "Jan 2, 2006" }}</span>
                </div>
                <div class="postSummary">
                    {{ .Description }}
                </div>
            </a>
    </div> -->
	{{ end }}
</div>
{{ end }}
