{{ define "header" }}
<div class="headerContainer home textContent">
  <!-- TODO(spencer): insert kaleidescope here? -->
  <h1 id="siteTitle" title="hi! hover around other parts of the site and you might find other hidden treasures.">
    hi! i'm spencer
    {{ partial "personal_emoji.html" }}
  </h1>
  <div class="description">
    <img
      class="lamp"
      id="lamp-akari"
      src="/assets/noguchi-akari-1at.png"
      can-toggle
      title="this is one of my favorite Noguchi lamps..."
    />
    <p><i>engineer, artist, & internet ecologist</i></p>
    <!-- <div >
      <img class="mainWindow" src="https://raw.githubusercontent.com/spencerc99/spencer-net-shots/main/window.png"/>
    </div> -->
    <!-- <p>
    <details>
        <summary>Dreaming, wandering, laughing, and thinking about...</summary>
        <div>
            <ul class="noPadding">
            <li>
                <b>creative agency</b> <br/> how we can give users more <a href="/posts/take-back-the-future-response">agency</a> in the software they use or are used by every day and what does a healthy relationship with <a href="/posts/technology-paradox">technology look like</a>?
            </li>
            <li>
                <b><a href="https://mmm.page/helena.soft_tech">soft tech</a></b> <br/> how do we create software that encourages tinkering and authentic expression, where making crazy connections is necessary rather than a nuisance?
            </li>
            <li>
                <b>people over systems</b> <br/> what sort of systems do we need to create a society that cares about enabling every person to live with the <a href="/experiments/100posts/privilege-of-dreams">privilege to pursue their dreams</a> and create something that they can truly own?
            </li>
            <li>
              <b>change through poetics</b> <br/> how can <a href="https://spencerchang.substack.com/p/calm-lunacy">poetry</a> and <a href="https://spencerchang.substack.com/p/ti-04-gestures-at-alternative-internets">art</a> help make transformative systematic change (like change the direction of the future of the internet and our technology platforms)?
            </li>
            </ul>
        </div>
        </details>
    </p> -->
    <div aria-hidden="true" class="plant" can-grow >
        <hr style="bottom: 12px; left: 0px; position: absolute; transform: rotate(270deg);">
        <hr style="bottom: 13.851px; left: -11.8564px; position: absolute; transform: rotate(240deg);">
        <hr style="bottom: 0.571044px; left: -3.65773px; position: absolute; transform: rotate(-60deg);">
        <hr style="bottom: 24px; left: 0px; position: absolute; transform: rotate(270deg);">
        <hr style="bottom: 12.571px; left: 3.65773px; position: absolute; transform: rotate(60deg);">
        <hr class="grow-1" style="bottom: 25.851px; left: 11.8564px; position: absolute; transform: rotate(300deg);">
        <hr class="grow-2" style="bottom: 37.851px; left: -11.8564px; position: absolute; transform: rotate(240deg);">
        <hr style="bottom: 26.4221px; left: -15.5141px; position: absolute; transform: rotate(210deg);">
        <hr class="grow-1" style="bottom: 32.4741px; left: -1.12842px; position: absolute; transform: rotate(-90deg);">
        <hr class="grow-2" style="bottom: 39.702px; left: -23.7128px; position: absolute; transform: rotate(240deg);">
        <hr class="grow-3" style="bottom: 41.5531px; left: -11.8564px; position: absolute; transform: rotate(30deg);">
        <hr style="bottom: 51.702px; left: -23.7128px; position: absolute; transform: rotate(270deg);">
        <hr style="bottom: 24.571px; left: -3.65773px; position: absolute; transform: rotate(-60deg);">
        <hr style="bottom: 48px; left: 0px; position: absolute; transform: rotate(270deg);">
        <hr style="bottom: 49.851px; left: -11.8564px; position: absolute; transform: rotate(240deg);">
        <hr style="bottom: 36.571px; left: -3.65773px; position: absolute; transform: rotate(-60deg);">
        <hr class="grow-1" style="bottom: 60px; left: 0px; position: absolute; transform: rotate(270deg);">
        <hr style="bottom: 48.571px; left: 3.65773px; position: absolute; transform: rotate(60deg);">
        <hr style="bottom: 61.851px; left: 11.8564px; position: absolute; transform: rotate(300deg);">
        <hr style="bottom: 60.571px; left: 3.65773px; position: absolute; transform: rotate(60deg);">
    </div>
    <p id="expandingWork"></p>
    <!-- idk why but it's getting really broken when I inline this content when there are more than two "https://" on one line... -->
    {{ .Content }}

    <details>
      <summary>
        Open to collaborations <span id="new">NEW</span>
      </summary>
      <div>
      <p> I'm interested in:</p>
        <ul>
        <li>provocative internet experiences for art pieces or businesses (<a href="">e.g.1</a>, <a href="https://newsroom.spotify.com/2023-01-04/give-yourself-a-musical-surprise-in-january-2024-with-spotifys-playlist-in-a-bottle/">e.g.2</a>)</li>
        <li>open internet infrastructure (<a href="https://atproto.com/">e.g.</a>), community-embedded software systems (<a href="https://www.are.na/">e.g.</a>)</li>
         <li>new computing interfaces (<a href="https://play.date/">e.g.</a>)</li>
      </ul>
        <p>I excel at creative interface and system design and prototype designs rapidly through code, while identifying a path to scalable implementation. If you're interested in working together, email spencerc99 at gmail dot com</p>
        </div>
    </details>

<div style="width:100%">
{{ $location := getJSON "https://status.spencerchang.me/api/metadata" }}
<div id="signature"><div class="signatureContent">
      <!-- TODO: hover over for photo in lil modal? -->
      <div class="serif">Spencer 張正 Chang<br/>spencerc99@gmail.com</div>
      <img can-spin id="stamp" class="stamp" src="/assets/name-stamp.png" title="this is my name stamp. my chinese name is 張正, 正 being my given name. 正 has many meanings: just, right, 5 if marking tallies on a food ordering sheet, proper, main, positive (for numbers). this animation was made on winter solstice and inspired by the scene from avatar the last airbender where aang opens the door to visit avatar roku during the winter solstice."/>
      <div><a href="/window">{{ $location.location }}</a></div>
      <br/>
      {{ partial "social_media.html" . }}
      </div>
    </div>
    {{ partial "email_embed.html" . }}
    <p>
</p>
</div>    
</div>
{{ end }} 
{{ define "main" }}

<div class="summaryList expand featured">
  <h2>Featured Work</h2>
  {{ $featured := where .Site.RegularPages "Params.homepage" "==" true }}
  {{ range $featured  }}
            {{ .Render "summary" }} 
  {{ end }}
</div>

<!-- TODO: replace this with kaleidoscope or feral.earth stuff -->
<div class="summaryList expand">
  <!-- TODO: make this a tab -->
  <!-- <div class="tabs">
    <button onclick="setTab(0)"><h3>recent</h3></button>
    <button onclick="setTab(1)"><h3>creations</h3></button>
    <button onclick="setTab(2)"><h3>writing</h3></button>
  </div> -->
  <h2>Recent</h2>
  <div class="tabContent">
    {{ $project := slice "projects" }}
    {{ $projects := where .Site.RegularPages "Params.tags" "intersect" $project }}
    {{ $writing := .Site.RegularPages | complement $projects }}
    <div class="recentReleases">
      <div class="postsList">
        {{ $recentCands := .Site.RegularPages.ByDate.Reverse }}
        {{ $recentCands = where $recentCands "Draft" "==" false }}
        {{ range first 10 $recentCands  }}
          {{ .Render "compact_summary" }} 
        {{ end }}
        <!-- TODO: add "check out my feed link to feed of everything" -->
        Check out <a href="/projects">all {{ len $projects}} creations</a> or <a href="/posts">all {{ len $writing}} posts</a>.
      </div>
    </div>
  </div>
</div>
<!-- window embeds -->
<!-- TODO: need to fix scroll hijacking and the perf -->
<!-- <div class="window" style="left: 1%; top:23%;"><iframe src="https://spencerchang.me/window#sky"></iframe></div>
<div class="window" style="right: 2%; top:23%;"><iframe src="https://spencerchang.me/window#selfie"></iframe></div>
<div class="window" style="left: 2.5%; top:73%;"><iframe src="https://spencerchang.me/window#vignette"></iframe></div> -->

{{ partial "marquee.html" }}

<script>
  let summaryIdx = 0;
  const listElement = document.querySelector('.tabContent')
  const items = listElement.children;
  const tabs = document.querySelector('.tabs').children;
  const total = items.length;

  if ("ontouchstart" in document.documentElement) {
    const hammer = new Hammer(listElement, {
      recognizers: [[Hammer.Swipe, { direction: Hammer.DIRECTION_HORIZONTAL }]],
    });

    hammer.on("swipeleft", () => {
      navForward();
    });
    hammer.on("swiperight", () => {
      navBackward();
    });
  }

  const navForward = () => {
    hideEleAtIdx();
    summaryIdx = (summaryIdx + 1) % total;
    renderEleAtIdx();
  };
  const navBackward = () => {
    hideEleAtIdx();
    summaryIdx = summaryIdx === 0 ? total - 1 : (summaryIdx - 1) % total;
    renderEleAtIdx();
  };

  const hideEleAtIdx = () => {
    items[summaryIdx].classList.add('hidden');
    tabs[summaryIdx].classList.remove('active');
  }
  const renderEleAtIdx = () => {
    items[summaryIdx].classList.remove('hidden');
    tabs[summaryIdx].classList.add('active');
  }

  const setTab = (idx) => {
    hideEleAtIdx(summaryIdx);
    summaryIdx = idx;
    renderEleAtIdx(summaryIdx);
  }

  renderEleAtIdx(summaryIdx);
</script>
{{ end }}
