{{ $fitsData := $.Site.Data.fits.fits }}

<!-- TODO: implement "jump to" on the side or on the top? -->
<!-- TODO: implement button that allows you to leave a comment or emoji somehow -->
<!-- TODO: paginate this so it doesn't bombard people with loading -->
<!-- TODO: add thumbnail URL and also upload to s3 but resized as a thumbnail (400 x 600) and then use thumbnailSrc as the img src -->
<!-- TODO: add favoriting mechanism, plumb through JSON data and then add filter -->

<div id="fitsContainer" class="gallery">
    {{ range $index, $element := sort $fitsData "timestamp" "desc" }}
        <div class="photoCard">
            <div class="photoCardMeta">
                <span class="photoCardIdx">{{sub (len $fitsData) $index}}</span>
                <span class="photoCardDate">{{$element.date | dateFormat "01.02.2006"}}</span>
            </div>
            <p>{{$element.description}}</p>
            <figure itemscope itemtype="http://schema.org/ImageObject" class="image gallery-item">
            <!-- TODO: calculate proper size based on item and store inside json, needed for animation -->
            <a class="galleryLink" href={{$element.imgSrc}} itemprop="contentUrl" data-size="3000x4000"><img class="photoCardPhoto galleryImage" src={{$element.imgSrc}}  itemprop="thumbnail" alt="galleryImage"/></a>
            </figure>
        </div>
    {{ end }}
</div>
