{{ $fitsData := $.Site.Data.fits.fits }}
{{ $fitsPagePermalink := .Page.Permalink }}
<!-- TODO: implement "jump to" on the side or on the top? -->
<!-- TODO: implement button that allows you to leave a comment or emoji somehow -->
<!-- TODO: add permalink that is accessible via the number. people send the # to me so that's their "UID" -->
<!-- TODO: paginate this so it doesn't bombard people with loading -->
<!-- TODO: add thumbnail URL and also upload to s3 but resized as a thumbnail (400 x 600) and then use thumbnailSrc as the img src -->
<!-- TODO: add favoriting mechanism, plumb through JSON data and then add filter -->

<div id="fitsContainer" class="gallery">
    {{ range $index, $element := sort $fitsData "timestamp" "desc" }}
        {{$fitIndex := string (sub (len $fitsData) $index) }}
        {{$fitPermalink := delimit (slice (printf "%s" $fitsPagePermalink) (printf "#%s" $fitIndex)) "" }}
        <!-- NOTE: we replace the extension to jpeg since apple photos preview is always jpeg, not -->
        <!-- whatever the original extension was. -->
        {{$previewImgSrc := replaceRE "\\.([^\\.]+)$" "_preview.jpeg" $element.imgSrc }}
        <div id="{{$fitIndex}}" class="photoCard">
            <div class="photoCardMeta">
                <span class="photoCardIdx" onclick="copyLink({{$fitPermalink}})">{{$fitIndex}} <i class="uil uil-link-h" ></i></span>
                <span class="photoCardDate">{{$element.date | dateFormat "01.02.2006"}}</span>
            </div>
            <figure itemscope itemtype="http://schema.org/ImageObject" class="image gallery-item">
                <!-- TODO: calculate proper size based on item and store inside json, needed for animation -->
                <a class="galleryLink" href={{$element.imgSrc}} itemprop="contentUrl" data-size="3000x4000">
                    <!-- Manually setting a 1.5 aspect ratio here using width + height -->
                    <!-- because modern browsers will make sure to reserve space to prevent reflow -->
                    <!-- eventually should calculate it properly and set here and above -->
                    <!-- source: https://www.youtube.com/watch?v=4-d_SoCHeWE -->
                    <!-- and https://www.codecaptain.io/blog/web-development/responsive-images-and-preventing-page-reflow/474 -->
                    <img width="900" height="1350" class="lazyload photoCardPhoto galleryImage" data-src={{$previewImgSrc}} src={{$previewImgSrc}}  itemprop="thumbnail" alt="galleryImage"/>
                </a>
            </figure>
            <p>{{$element.description}}</p>
        </div>
        {{ end }}
</div>
