<!-- TODO: match this with the thing inside of gallery and make it interchangeable -->
{{ $centered := cond (eq (.Get "centered") "") "" "centered" }}
{{ $fullWidth := cond (eq (.Get "fullWidth") "") "" "fullWidth" }}
{{ $resizeSize := .Get "resizeSize" | string | default "320" }}
{{ $shouldMakeSquare := .Get "shouldMakeSquare" | string | default "false" }}
{{ $resizeOneDimensionInput := cond (eq (.Get "resizeHeight") "") (printf "%sx" $resizeSize) (printf "x%s" $resizeSize) }}

{{ with .Page.Resources }}
print {{ .Name }}
{{ end }}
{{ with .Page.Resources.GetMatch (.Get "src") }}
<!-- TODO: specifically make thisl ine work --->
{{ $thumbnail := cond ( eq $shouldMakeSquare "true") (.Fill (printf "%sx%s" $resizeSize $resizeSize)) (.Resize $resizeOneDimensionInput) }}
<figure itemscope itemtype="http://schema.org/ImageObject" class="image gallery-item">
<a class="galleryLink" href="{{ .Permalink }}" itemprop="contentUrl" data-size="{{ .Width }}x{{ .Height }}" >
    <img src="{{ $thumbnail.Permalink }}" itemprop="thumbnail" alt="galleryImage" class="galleryImage" />
</a>
<figcaption class="galleryImageCaption" itemprop="caption description">
    {{ if in "jpeg tiff" .MediaType.SubType }}
        {{ with .Exif }}
            <!-- the year is 1 if the year data was not included -->
            {{ if ne .Date.Year 1 }}
            Taken on {{ .Date.Format "01.02.2006" }}
            {{ end }}
        {{ end }}
        {{ with .Params.Caption }}
            {{ . }}
        {{ end }}
    {{ end }}
    {{ with .Params.Caption }}
        {{ . }}
    {{ end }}
    <span itemprop="copyrightHolder"></span>
</figcaption>
</figure> 
{{ end }}
